* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 90%;
  max-width: auto;
  margin: 2em auto;
  background-color: black;
  color: yellow;
}
#container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  /* height: 300px; */
}
#images_container {
  position: relative;
  height: 250px;
}
#container2 {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding-top: 100px; */
}
#planets {
  color: black;
}
.infoBox {
  background-color: #2c3539;
  width: 800px;
  height: auto;
  text-align: center;
  border-radius: 5px;
  border: 2px solid yellow;
}
#planet_img {
  width: 250px;
  height: 250px;
  position: absolute;
  z-index: 1;
}
#earth_img {
  width: 250px;
  height: 250px;
  position: absolute;
}
#planetimage {
  position: relative;
}
#biome_img {
  width: 560px;
  height: 180px;
  object-fit: cover;
}
.info {
  /* margin-right: 40px; */
  /* margin-bottom: 40px; */
  padding: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#text_box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
